.center-content {
    margin: 0 auto;
}
.clubDescriptionText {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 0.5rem;
}
.clubMessageText {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 0.1rem;
}
.backButton {
    background-color:#293650;
    color: white;
    font: 400 1.5rem Arial;
    border-color: white;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
