body {
    background-size: cover;
    background: white;
}
.center-content {
    margin: 0 auto;
}
.clubDescriptionText {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 0.5rem;
}
.clubMessageText {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 0.1rem;
}
.backButton {
    background-color:#293650;
    color: white;
    font-size: 1.5rem;
    margin-left: 0rem;
    border-color: white;
    cursor: pointer;
}