.textbox-block {
    width: 100%;
    .textbox {
        color: black;
        display: flex;
        flex: 1 1 auto;
        max-width: 100%;
        min-width: 100%;
        background-color: #eaeaea;
        margin: 0em;
        font: 400 1rem Arial;
        border-radius: 0.25rem;
        border-width: 2px;
        border-style: solid;
        border-color: #e3e3e3;
        padding: 1rem;
        margin-bottom: 0.75rem;
        cursor: text;
    }
}
.button {
    cursor: pointer;
    display: inline-block;
    margin: 0em;
    font: 400 1rem Arial;
    border-width: 0px;
    padding: 12px 24px;
    border-radius: 0.25rem;
    transition: 0.2s ease all;
    margin-right: 0.5rem;
    &:disabled {
        opacity: 0.3;
        cursor: normal;
    }
    &:hover {
        &.save {
            background-color: rgb(90, 235, 90);
        }
        &.cancel {
            background-color: red;
        }
        &.edit {
            background-color: lightblue;
        }
    }
    &.save {
        background-color: rgb(96, 219, 96);
        color: black;
    }
    &.cancel {
        background-color: coral;
        color: black;
    }
}
.textbox--disabled {
    color: black;
    display: flex;
    width: 100%;
    max-width: 100%;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
    border-color: white;
    background-color: rgb(231, 225, 225);
    cursor: pointer;
}