.textbox-block {
    .textbox {
        color: black;
        display: flex;
        width: 100%;
        border-radius: 0.25rem;
        padding: 0.25rem 0.25rem;
        max-width: 100%; 
    }
}
.button {
    cursor: pointer;
}
.textbox--disabled {
    color: black;
    display: flex;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
    border-color: white;
    background-color: rgb(231, 225, 225);
    cursor: pointer;
}