.team-block {
    display: flex;
    padding: 0rem 1rem;
    margin-top: -1px;
    flex: 1 1;
    border: 2px solid #eaeaea;
    border-top: 0px solid transparent;
    .team-home,
    .team-guest {
        display: flex;
        align-items: center;
        flex: 0 50%;
        padding: 1rem 0rem;
    }
    .team-guest {
        justify-content: flex-end;
    }
    .team-home-name {
        margin-left: 1rem;
    }
    .team-guest-name {
        margin-right: 1rem;
    }
    .team-score {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        font-size: x-large;
        height: 100%;
    }
    .team-home-score {
        margin-right: 0.5rem;
    }
    .team-guest-score {
        margin-left: 0.5rem;
    }
    .team-img {
        display: block;
        width: auto;
        height: 55px;
        flex-shrink: 0;
    }
}

@media (max-width: 540px) {
    .team-block {
        .team-home-name,
        .team-guest-name {
            display: none;
        }
        .team-img {
            height: 35px;
        }
    }
}
