.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  cursor: pointer;
}

.react-player {
  position: absolute;
  padding-bottom: 0.1%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.react-player:focus{
  outline:none !important;
    video:focus {
      outline:none !important;
    }
}